In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [63]:
data = pd.read_csv('diabetes_dataset.csv')

In [64]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [65]:
data1 = data.copy()
data1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [66]:
X = data1.iloc[:,0:8]
Y = data1.iloc[:,8]

In [67]:
column = ['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']
values = [10,115,0,0,0,35.3,0.134,29]
values

[10, 115, 0, 0, 0, 35.3, 0.134, 29]

In [68]:
for i in range(8):
    data1[column[i]]= data1[column[i]]-values[i]

In [69]:
data1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,-4,33,72,35,0,-1.7,0.493,21,1
1,-9,-30,66,29,0,-8.7,0.217,2,0
2,-2,68,64,0,0,-12.0,0.538,3,1
3,-9,-26,66,23,94,-7.2,0.033,-8,0
4,-10,22,40,35,168,7.8,2.154,4,1

In [77]:
data1[data1 !=0] =1

In [78]:
data1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,1,1,1,0,1.0,1.0,1,1
1,1,1,1,1,0,1.0,1.0,1,0
2,1,1,1,0,0,1.0,1.0,1,1
3,1,1,1,1,1,1.0,1.0,1,0
4,1,1,1,1,1,1.0,1.0,1,1

In [81]:
data1['Row_sum'] = data1.sum(axis=1)

In [82]:
data1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Row_sum
0,1,1,1,1,0,1.0,1.0,1,1,8.0
1,1,1,1,1,0,1.0,1.0,1,0,7.0
2,1,1,1,0,0,1.0,1.0,1,1,7.0
3,1,1,1,1,1,1.0,1.0,1,0,8.0
4,1,1,1,1,1,1.0,1.0,1,1,9.0

In [85]:
import math
n=int(math.sqrt(len(Y))/2)

In [86]:
sorted_data = data1.sort_values(by='Row_sum')

In [91]:
sorted_data.head(n)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Row_sum
7,0,0,0,0,0,0.0,0.0,0,0,0.0
706,0,0,0,0,0,1.0,1.0,1,1,4.0
464,0,0,1,0,0,1.0,1.0,1,0,4.0
643,1,1,0,0,0,1.0,1.0,1,0,5.0
430,1,1,0,0,0,1.0,1.0,1,0,5.0
426,1,1,0,0,0,1.0,1.0,1,0,5.0
327,0,1,1,0,0,1.0,1.0,1,0,5.0
677,1,1,1,0,0,0.0,1.0,1,0,5.0
46,1,1,1,0,0,1.0,1.0,0,0,5.0
494,1,1,0,0,0,1.0,1.0,1,0,5.0
533,1,1,0,0,0,1.0,1.0,1,0,5.0
49,1,1,0,0,0,1.0,1.0,1,0,5.0
336,1,1,0,0,0,1.0,1.0,1,0,5.0

In [92]:
first_n = sorted_data.head(n)
highest_count = first_n['Outcome'].value_counts().idxmax()

print("Outcome:",highest_count)

Outcome: 0